@use "../variables" as *;

// content, border-radius, border-width, width, top & left position
@mixin pseudoMixin(
	$content,
	$borderRadius,
	$borderWidth,
	$width,
	$topPosition,
	$leftPosition
) {
	content: $content;
	border-radius: $borderRadius;
	border: $borderWidth solid $white;
	width: $width;
	top: $topPosition;
	left: $leftPosition;
	position: absolute;
	aspect-ratio: 1;
}

@mixin flexBoxMixin($flexDirection, $alignItems, $justifyContent, $gap) {
	display: flex;
	flex-direction: $flexDirection;
	align-items: $alignItems;
	justify-content: $justifyContent;
	gap: $gap;
}

@mixin positionMixin($position, $top, $right, $bottom, $left) {
	position: $position;
	top: $top;
	right: $right;
	bottom: $bottom;
	left: $left;
}
