@use "assets/css/index" as *;

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
	color: $white;
}

a {
	text-decoration: none;
}

img {
	user-select: none;
}

li {
	list-style: none;
}

body {
	@include positionMixin(relative, none, none, none, 50%);
	@include flexBoxMixin(none, none, center, none);
	height: 100vh;
	max-width: 1500px;
	transform: translateX(-50%);
	overflow: hidden;
	background-color: $black;

	& > * {
		height: 100%;
	}

	& > * {
		&:nth-child(1) {
			width: 40%;
		}

		&:nth-child(2) {
			width: 100%;
		}
	}
}

@media screen and (max-width: 1284px) {
	header {
		@include positionMixin(fixed, 0, none, none, 50%);
		width: 30rem;
		transform: translateX(-50%);
		width: 100% !important;
		background-color: rgba($black, 0.2);
		z-index: 1;
		pointer-events: none;
	}
}

@media screen and (max-width: 767px) {
	header section {
		.navLinks {
			display: none;
		}

		.menuButton {
			pointer-events: all;
			display: block;
		}
	}
}
