@use "../variables" as *;
@use "../utilities/mixins" as *;

section,
section > .navLinks {
	display: flex;
}

header {
	@include flexBoxMixin(column, none, none, 30px);
	padding: 0 15px 15px;
	user-select: none;
	z-index: 1;

	section {
		align-items: center;
		overflow: hidden;

		.navLinks,
		.sideMenu {
			pointer-events: all;
		}

		.navLinks {
			gap: 5px;

			.activeNavTab {
				border: 1px solid $white;
				border-radius: 50px;
				position: relative;

				&::before {
					@include pseudoMixin("", 12px, none, 5px, 50%, 0.43rem);
					transform: translateY(-50%);
					background-color: $white;
				}
			}

			a {
				padding: 4px 11px 5px 15px;
				border: 1px solid transparent;
			}
		}

		.sideMenu {
			@include positionMixin(fixed, 0, 0, none, none);
			background-color: rgba($black, 0.5);
			backdrop-filter: blur(2px);
			display: block !important;
			height: 100%;
			width: 50%;
			z-index: 1;
			text-align: center;

			& > * {
				width: 100%;

				&:nth-child(n + 2) {
					margin-bottom: 15px;
				}
			}

			.closeMenu {
				@include flexBoxMixin(row, center, end, none);
				padding-right: 15px;
				height: 58px;
			}
		}

		h2 {
			font-size: 62px;
			line-height: 1;
			width: 30rem;
		}

		// navigation bar
		&:nth-child(1) {
			justify-content: space-between;
			height: 70px;
		}

		// content
		&:nth-child(2) {
			@include flexBoxMixin(column, start, none, 30px);
			position: relative;
			height: 100%;

			span,
			p {
				border-top: 0.1px solid $white;
			}

			span {
				width: fit-content;
				letter-spacing: 2px;

				p {
					border-bottom: 0.1px solid $white;
					padding: 0 3rem;
				}
			}

			.infoCircle {
				@include pseudoMixin(none, none, none, 12rem, 80%, -2.5rem);

				&::after {
					@include pseudoMixin("", 50%, none, 12rem, none, none);
					border-top: 0.5px solid $white;
					transform: rotate(35deg);
				}

				div {
					position: absolute;
					display: flex;
					gap: 5px;

					&::before,
					&::after {
						content: "";
						aspect-ratio: 1;
					}

					// icons in list
					&::before {
						display: inline-block;
						width: 1.5rem;
						margin: 0 0 2rem;
					}

					// small circle dot in  list
					&::after {
						position: absolute;
						width: 0.5rem;
						background-color: $white;
						border-radius: 50%;
					}

					li {
						display: none;
						text-wrap: nowrap;
					}

					// fist child container
					&:nth-child(1) {
						top: -3.4rem;
						left: 10rem;

						&::before {
							background: url(/assets/imgSource/clothesIcon.png) no-repeat
								center/ cover;
						}

						// small circle dot in list
						&::after {
							left: -3rem;
							top: 3.31rem;
						}
					}

					// second child container
					&:nth-child(2) {
						top: 3rem;
						left: 13.8rem;

						&::before {
							background: url(/assets/imgSource/recyclingIcon.png) no-repeat
								center/ cover;
						}

						// small circle dot in list
						&::after {
							top: 1.6rem;
							left: -2.2rem;
						}
					}
				}
				.activeInfoCircle {
					display: block;
				}
			}
		}
	}
}
