@use "../variables" as *;
@use "../utilities/mixins" as *;

main {
	position: relative;
	display: flex;
	flex-direction: column;

	&,
	.imgContainer {
		overflow: hidden;
	}

	& > section {
		position: relative;

		& > img,
		.imgContainer img {
			object-fit: cover;
			min-width: 100%;
		}
	}

	.imgContainer {
		cursor: pointer;
		bottom: 11rem;
		right: 3%;
		height: 8rem;
		@include pseudoMixin(none, 12px, 1px, 10rem, none, none);
		@include flexBoxMixin(none, none, 5px);

		&:hover::after {
			opacity: 1;
		}
	}
}
