@use "../variables" as *;
@use "../utilities/mixins" as *;

main {
	position: relative;
	display: flex;
	flex-direction: column;

	&,
	.imgContainer {
		overflow: hidden;
	}

	& > section {
		position: relative;

		& > img {
			object-fit: cover;
			min-width: 100%;
			min-height: 100dvh;
		}
	}

	.imgContainer {
		right: 3%;
		position: absolute;
		overflow: visible;

		& > img {
			border-radius: 12px;
			border: 1px solid $white;
			object-fit: cover;
			aspect-ratio: 10 / 6;
		}

		.buttonCloseSlider {
			cursor: pointer;
			position: absolute;
			top: 3%;
			right: 3%;
		}
	}

	.imgContainerActive {
		bottom: 12rem;
		cursor: pointer;
		@include flexBoxMixin(column, center, none);
		animation: fadeIn 0.5s;

		&:hover > img {
			filter: brightness(70%);
		}

		&:hover::after {
			display: block;
		}

		&::after {
			display: none;
			@include pseudoMixin("show more", none, none, none, 50%, none);
			text-wrap: nowrap;
			height: 20%;
			transform: translateY(-50%);
			font-size: 18px;
			color: $white;
			z-index: 2;
		}

		& > img {
			&:nth-child(1) {
				width: 10rem;
				z-index: 1;
			}

			&:nth-child(2) {
				position: absolute;
				top: -0.7rem;
				width: 9rem;
			}
		}
	}

	.imgContainerShow {
		padding: 2rem 4rem;
		background-color: rgba($black, 0.2);
		backdrop-filter: blur(1px);
		height: 20%;
		width: 100%;
		right: 0;
		bottom: $slidinContainerImage;
		@include flexBoxMixin(row, center, 10px);
		justify-content: end;
		animation: slideInImage 0.5s;

		& > img {
			cursor: pointer;
			position: unset;
			height: 100%;
			width: 12rem;
		}
	}
}

@keyframes slideInImage {
	0% {
		opacity: 0;
		transform: translateY(100%);
	}
	100% {
		opacity: 1;
		transform: translateY(0%);
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
